.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100vw !important;
  justify-content: space-around;
}

.filter-panel {
  width: max-content;
}

.jobs-panel{
  width: 100%;
}
