<mat-toolbar color="primary">
  <button mat-button routerLink="dashboard">Home</button>
  <button mat-button routerLink="jobs">Jobs</button>
  <button mat-button routerLink="job/create" *ngIf="isConsumer()">Create job</button>
  <button mat-button routerLink="myJobs">My jobs</button>
  <button mat-button routerLink="review/myReviews">My reviews</button>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-button routerLink="user/profile">Profile</button>
  <button mat-button routerLink="/app/user/logout">Logout</button>
</mat-toolbar>

