:host {
  margin: 10px auto;
  width: 700px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.footer-job-list-item {
  margin-left: 34%;
}

.table-availabilities {
  max-height: 220px;
}

.badge-job-card {
  float: right;
  font-size: 16px;
}
