:host {
  text-align: center;
  margin: 10px auto 10px auto;
}

.form {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.input-form_textarea {
  min-height: 100px;
}

.input-form_slider {
  width: 100%;
}

.btn-submit {
  margin-top: 30px;
}
