<div class="alert alert-danger" role="alert" *ngIf="badUsernameOrEmail" xmlns="http://www.w3.org/1999/html">
  <strong>Register failed</strong> {{badUsernameOrEmail}}
</div>
<form [formGroup]="userRegisterForm" novalidate>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" type="text" formControlName="userName">
    <mat-error>{{errors.userName}}</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" type="text" formControlName="realName">
    <mat-error>{{errors.realName}}</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" type="text" formControlName="email">
    <mat-error>{{errors.email}}</mat-error>
  </mat-form-field>

  <div formGroupName="passwordGroup">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password" formControlName="password">
      <mat-error>{{errors.password}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword"
             [errorStateMatcher]="confirmValidParentMatcher">
      <mat-error>{{errors.confirmPassword}}</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Profile Image URL" type="text" formControlName="profileImage">
  </mat-form-field>

  <mat-form-field *ngIf="this.type == 'provider'" class="example-full-width">
    <input matInput placeholder="Video URL" type="text" formControlName="video">
  </mat-form-field>

  <mat-form-field *ngIf="this.type == 'provider'" class="example-full-width">
    <input matInput placeholder="Description" type="text" formControlName="description">
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="userRegisterForm.invalid" id="form-button"
          (click)="register()">Register
  </button>

  <div id="social-buttons-container">
    <a class="btn btn-block btn-social btn-facebook" (click)="signInWithFB()">
      <span class="fa fa-facebook"></span>
      <div class="social-text">Register with Facebook</div>
    </a>
    <a class="btn btn-block btn-social btn-google" (click)="signInWithGoogle()">
      <span class="fa fa-google"></span>
      <div class="social-text">Register with Google</div>
    </a>
  </div>
</form>



