//.#{$namespace}profile__container{background-color: red;}
$namespace:'msbx-';

.mat-button{
  outline: none;
}

.#{$namespace}profile{

  &__container {
    width: 100vw;
    display:flex;
    padding: 50px 5%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100vw;
  }

  &__user-head{
    align-self:flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: content;
    padding-bottom: 10px;
    padding-right: 30px;
    width: 20%;

    &--image{
      border-radius: 5px;
      align-self:flex-start;
      max-height: 20vw;
      //margin-bottom: 3vw;
    }

    &--actions{
      display:flex;
      flex-direction: column;

      &:first-child{
        padding: 10px 0;
      }

      &:last-child{
        padding: 10px 0;
      }
    }
  }

  &__user-details{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-left: 5vw;

    &--card{
      &--titlegroup{
        display: flex;
        flex-direction: row;
        align-items: baseline;

        &--subtitle{
          padding-left: 30px;
        }
      }

      &--skills{
        display: inline;
        list-style-type: none;
      }

      &--rating{
        display: flex;
        flex-direction: row;
        align-items: baseline;
      }
    }

    &--tabgroup{
      padding-top: 5vw;

      &--video{
        width: 100%;
      }
    }
  }
}
