<div class="msbx-profile__container">
  <div class="msbx-profile__main-wrapper">
    <div class="msbx-profile__user-head">
      <mat-card class="msbx-profile__user-head--card">
        <img mat-card-avatar src="../../../assets/sample-images/sample-image1.jpg">
        <mat-card-title>UserX1</mat-card-title>
        <mat-card-content>usernamex1</mat-card-content>
        <mat-card-content>userx1@gmail.com</mat-card-content>
      </mat-card>
    </div>
    <mat-card class="msbx-profile__user-actions">
      <button mat-button>Option1</button>
      <button mat-button>Option2</button>
      <button mat-button>Option3</button>
      <button mat-button>Option4</button>
    </mat-card>
  </div>
  <div class="msbx-profile__user-details">
    <mat-card>
      <mat-card-title>Role of Consumer</mat-card-title>
      <mat-card-subtitle>Description</mat-card-subtitle>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nunc eros ligula, varius sed tincidunt a, suscipit a lacus.
        Sed eu diam id nunc tempus pretium at in sapien. Praesent ac feugiat nisi.
        Maecenas auctor accumsan ligula egestas tristique. Aliquam auctor, purus id tempor congue,
        tortor velit luctus dui, eget condimentum eros nisi at justo. In dolor diam,
        fringilla ac magna non, sodales tempor velit. Integer eget rutrum ex.
        Sed scelerisque mauris sed tempus mollis.
        Sed tempor enim et purus suscipit tincidunt.
      </mat-card-content>
    </mat-card>
  </div>
</div>
