.main {
  flex: 1;
  background-color: white;
  padding-top: 64px;
}

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  width: 101%;
  z-index: 1;
}

.footer {
  margin-left: 0;
}
