.search-box-container {
  margin-top: 40px;
  border-radius: 8px;
  background: white;
  padding: 10px;
  box-shadow: 0 10px 40px -10px rgba(0,64,128,0.2);
}

::placeholder {
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
}

#search {
  font-size: 0.9em;
  border: none;
  font-family: 'Roboto', sans-serif;
}
