<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div class="msbx-container">
  <div class="msbx-header msbx-header__container">
    <div class="msbx-header__wrapper col-12">
      <div class="msbx-header__logo msbx-header__logo--left mb-3">
        <span class="msbx-text msbx-header__logo msbx-header__logo__text msbx-header__logo__trademark">meeseeks</span>
        <span class="msbx-text msbx-header__logo msbx-header__logo__text">box</span>
      </div>
      <div class="msbx-header__metanav msbx-header__metanav__container mb-3">
        <div class="msbx-header__metanav__wrapper">
          <div class="msbx-metanav__item mb-1" id="text_container_A01">
            <a class="msbx-metanav__link">
              <div class="msbx-text msbx-metanav__head">A01</div>
              <div class="msbx-text msbx-metanav__label">
                <hr class="msbx-metanav__line">
                made with simplicity
              </div>
            </a>
          </div>
          <div class="msbx-metanav__item mb-1" id="text_container_B02">
            <a class="msbx-metanav__link">
              <div class="msbx-text msbx-metanav__head">B02</div>
              <div class="msbx-text msbx-metanav__label">
                <hr class="msbx-metanav__line">
                explore the opportunities
              </div>
            </a>
          </div>
          <div class="msbx-metanav__item mb-1" id="text_container_C03">
            <a class="msbx-metanav__link">
              <div class="msbx-text msbx-metanav__head">C03</div>
              <div class="msbx-text msbx-metanav__label">
                <hr class="msbx-metanav__line">
                bring new ideas to life
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="msbx-content__container">
    <div class="msbx-content__panel col-12">
      <div class="msbx-text msbx-content__title mb-3">
        Discover what's possible when a community works together
      </div>
      <div class="msbx-content__vertical-line mb-1"></div>
      <div class="msbx-content__carousel mb-3">
        <div class="msbx-text msbx-carousel__label">
          Creatures created to serve a singular purpose for which they will go to any length to fulfill.
        </div>
      </div>
    </div>
    <div class="msbx-navbtn__container col-12">
      <a class="msbx-navbtn__link msbx-navbtn__login" routerLink="/app/user/login">
        <div class="msbx-text msbx-login__link">LOGIN</div>
      </a>
      <a class="msbx-navbtn__link msbx-navbtn__video" data-toggle="modal" data-target="#embedVideoModal">
        <div class="msbx-video__link"><img src="../../assets/play.png" alt=">"></div>
      </a>
    </div>

  </div>

  <div class="msbx-footer__container">
    <a class="msbx-footer__consumer" routerLink="/app/user/registerConsumer">
      <div class="msbx-consumer__wrapper">
        <div class="msbx-text msbx-footer__title">REGISTER AS A CONSUMER</div>
        <div class="msbx-text msbx-footer__content">Find the right person <br> for the right job instantly.
        </div>
        <div class="msbx-text msbx-footer__google">Connect with Google</div>
      </div>
    </a>
    <a class="msbx-footer__provider" routerLink="/app/user/registerProvider">
      <div class="msbx-provider__wrapper">
        <div class="msbx-text msbx-footer__title">REGISTER AS A PROVIDER</div>
        <div class="msbx-text msbx-footer__content">Discover great opportunities and work with remarkable
          people.
        </div>
        <div class="msbx-text msbx-footer__google">Connect with Google</div>
      </div>
    </a>
  </div>
</div>


<div id="embedVideoModal" style="display:none" class="modal fade modal--position" role="dialog">
  <div class="modal-dialog msbx-modal-dialog--size msbx-modal-dialog--position">
    <div class="modal-content embed-responsive embed-responsive-16by9">
    </div>
  </div>
</div>
