<h2>Log In</h2>
<form [formGroup]="userLoginForm" novalidate class="form">
  <mat-form-field class="full-width">
    <input matInput placeholder="User name" type="text" formControlName="userName">
    <mat-error>{{errors.userName}}</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Password" type="password" formControlName="password">
    <mat-error>{{errors.password}}</mat-error>
  </mat-form-field>

  <button mat-raised-button  color="primary" [disabled]="userLoginForm.invalid" (click)="login()">Login</button>

</form>
