<div class="login-background">
    <div [class.mat-elevation-z0] id="register-card">
    <div class="close-button-container">
      <button mat-icon-button type="button" color="secondary" id="black-button" (click)="goToLandingPage()">
        <img src="../../../assets/close_icon.png" width="20px"/></button>
    </div>
    <h3 class="form-title">Login</h3>

    <div class="alert alert-danger" role="alert" *ngIf="badCredentials">
      <strong>Login failed</strong> {{badCredentials}}
    </div>
    <form [formGroup]="userLoginForm" novalidate>
      <mat-form-field class="full-width">
        <input matInput placeholder="User name" type="text" formControlName="userName">
        <mat-error>{{errors.userName}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Password" type="password" formControlName="password">
        <mat-error>{{errors.password}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="userLoginForm.invalid" id="form-button" (click)="login()">Login</button>

      <div id="social-buttons-container">
        <a class="btn btn-block btn-social btn-facebook" (click)="signInWithFB()">
          <span class="fa fa-facebook"></span>
          <div class="social-text">Register with Facebook</div>
        </a>
        <a class="btn btn-block btn-social btn-google" (click)="signInWithGoogle()">
          <span class="fa fa-google"></span>
          <div class="social-text">Register with Google</div>
        </a>
      </div>
    </form>
  </div>
</div>
