<div class="login-background">
  <mat-card class="login-card">
    <h2>Log In</h2>
    <div class="alert alert-danger" role="alert" *ngIf="badCredentials">
      <strong>Login failed</strong> {{badCredentials}}
    </div>
    <form [formGroup]="userLoginForm" novalidate>
      <mat-form-field class="full-width">
        <input matInput placeholder="User name" type="text" formControlName="userName">
        <mat-error>{{errors.userName}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Password" type="password" formControlName="password">
        <mat-error>{{errors.password}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="userLoginForm.invalid" (click)="login()">Login</button>
      <button mat-raised-button type="button" color="secondary" (click)="goToLandingPage()">Back</button>

      <div class="social-buttons">
        <a class="btn btn-block btn-social btn-facebook" (click)="signInWithFB()">
          <span class="fa fa-facebook"></span> Log in with Facebook
        </a>
        <a class="btn btn-block btn-social btn-google" (click)="signInWithGoogle()">
          <span class="fa fa-google"></span> Log in with Google
        </a>
      </div>
    </form>
  </mat-card>
</div>
