<div class="grid-list">
  <mat-card>
    <mat-card-title>Jobs</mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="4" rowHeight="200px" gutterSize="20px">
        <mat-grid-tile class="job-card" *ngFor="let job of jobs" style="background:lightgreen; color: #fff">
          <a [routerLink]="['/auth/job/details', job.id]">
            {{job.name}}
          </a>
          <mat-grid-tile-header style="background:lightgreen">
            <h3 mat-line>{{job.expiration | date}}</h3>
            <span mat-line>{{job.location}}</span>
            <mat-icon class="job-icon">business_center</mat-icon>

          </mat-grid-tile-header>

          <mat-grid-tile-footer style="background:lightgreen">
            <h3 mat-line>{{job.description}}</h3>
            <span mat-line>Price: {{job.price}}</span>


          </mat-grid-tile-footer>
          <mb-apply-job [job]="job"></mb-apply-job>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

</div>
